extends ../_index-template

block variables
    - var title = 'Константинов Данил'

    .wrapper

        include ../sections/_header

        .hero__social-blok.hero__social-blok_absolute

            include ../sections/_socials


        .fsmenu
            include ../sections/_main-nav

        .hamburger_absolute
            a(href="#").hamburger__link
                svg.hamburger__img
                    use(xlink:href=`assets/img/sprite.svg#hamburger`)


        section.about

            section.triangles

                .triangles__left
                    svg(viewBox="0 0 1000 110" preserveAspectRatio="none").triangle__svg
                        polygon(points="0,0 0,110 1000,110")


                .triangles__right.triangles__right_white
                    svg(viewBox="0 0 1000 110" preserveAspectRatio="none").triangle__svg
                        polygon(points="0,110 1000,110 1000,0")



            .about__col.about__col_left


                .section-wrapper
                    .section-title
                        | Обо мне
                    .section-about
                        .about__pic-container
                            img(src="assets/img/person.png" alt="").about__pic
                        .block-title
                            | кто я
                        .block-text
                            p
                                |текст текст текст текст текст текст текст
                                |текст текст текст текст текст текст текст
                            p
                                |текст текст текст текст текст текст текст
                                |текст текст текст текст текст текст текст

            .about__col.about__col_right


                .skills
                    .skills__title
                        |Чем я могу быть вам полезен
                    .skills__text
                        p
                            |Больше всего меня привлекает отдавать фронт-энд разработку джуниор-девелоперу
                        p
                            |Но все наши джуны - из поколения Y, поэтому кросс-браузерную верстку им не доверяю!

                    ul.skills-group-list
                        li.skills-group__item
                            .skills-group__title
                                |Frontend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | HTML 5
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | CSS 3
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            |Java Script &
                                            |jQuery

                        li.skills-group__item
                            .skills-group__title Backend
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | PHP
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | mySQL
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | Node.js & npm
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | Mongo.db

                        li.skills-group__item
                            .skills-group__title WorkFlow
                            ul.skills-list
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | Git
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | Gulp
                                li.skills-list__item
                                    .skill
                                        svg.skill__circle
                                            circle(cx="50" cy="50" r="40").skills__circle-under
                                            circle(cx="50" cy="50" r="40").skills__circle-above
                                        .skill__title
                                            | Bower


        section.map
            .map__background

            .map__contacts_center
                .contacts-blok

                    h3.contacts-blok__header Контакты

                    ul.contact-list

                        - var contacticons = ['skype', 'envelope_n', 'phone2', 'map_marker']

                        li.contact-list__item
                            i.contact-list__i
                                svg.contact-list__icon
                                    use(xlink:href=`assets/img/sprite.svg#${contacticons[0]}`)
                            a(href="#") skype

                        li.contact-list__item
                            i.contact-list__i
                                svg.contact-list__icon
                                    use(xlink:href=`assets/img/sprite.svg#${contacticons[1]}`)
                            a(href="#") migty@mail.ru

                        li.contact-list__item
                            i.contact-list__i
                                svg.contact-list__icon
                                    use(xlink:href=`assets/img/sprite.svg#${contacticons[2]}`)
                            a(href="#") 8 921 350-10-00

                        li.contact-list__item
                            i.contact-list__i
                                svg.contact-list__icon
                                    use(xlink:href=`assets/img/sprite.svg#${contacticons[3]}`)
                            |г. Санкт-петербург, ул. Сибирская д.9


        footer.footer

            .footer__col.footer__col_left
                ul.footer-nav-list
                    li.footer-nav-list__item
                        a(href="#").footer-nav__link Мои работы
                    li.footer-nav-list__item
                        a(href="#").footer-nav__link Обо мне
                    li.footer-nav-list__item
                        a(href="#").footer-nav__link Блог
                    li.footer-nav-list__item
                        a(href="#").footer-nav__link Авторизация

            .footer__col.footer__col_right

                    .footer-socials
                        ul.socials-list

                            each icon in icons
                                li.socials-list__item
                                    a(href="#").socials-list__link_psevdo
                                        svg.socials-list__icon_color_green
                                            use(xlink:href=`assets/img/sprite.svg#${icon}`)


            hr

            .copyright.copyright_left
                p
                    | Больше всего меня привлекает отдавать фронт-энд разработку джуниор-девелоперу

            .copyright.copyright_right
                p
                    | Константинов Данил @2017
